<div>
	<div class="container">
	<h5>Welcome to KaMaNi OAuth2-like client</h5>
	<p>This site is created during the summer school course Identity and Privacy at Aarhus University in 2015</p>
	<p>In this assignment we have implemented an OAuth 2.0 login solution, which includes 3 services </p>
	<ul style="list-style-type:square">
		<li>Client application (this page)</li>
		<li>Authorization server</li>
		<li>Resource server</li>
	</ul>

	<p>You can sign in to the solution by pressing the button below</p>
</div>
</div>

<div class="container">
  	<a href='login' target="popup" onclick="window.open('login','name','width=500,height=700')">
		<img class="center-align" src='/images/button.png'>
	</a>  
</div>

